@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#fff;
    font-family: 'Montserrat', sans-serif;
}
img{
    max-width: 100%;
    max-height:100%;
    object-fit: cover;
}

/* card styles */
.horz-card{
    max-width:500px;
    display:flex;
    align-items:center;
    justify-content: center;
    box-shadow: 0 0 4px 1px #ccc;
    overflow:hidden;
    /* border-radius: 10rem; */
    border-radius:5px;
    background:#fff;
    transition: 0.5s ease all;
}

.horz-card:hover{
    background: #ffffff;
    box-shadow:  5px 5px 17px #bababa, 
                -5px -5px 17px #ffffff;
}

.horz-image-container{
    flex:1;
    min-width:150px;
    min-height:150px;
    margin:1em;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius: 50%;
    overflow:hidden;
    background-image:url('../images/jerry-wang-5V47P1bPXRI-unsplash.jpg');
    background-position:center;
    background-size:cover;
    box-shadow:0 0 4px 1px #333;
    position: relative;
}
.horz-content-container{
    flex:5;
    display: flex;
    align-items:center;
    justify-content: center;
}

.horz-content{
    padding:0.2rem;
}
.horz-card-title{
    margin-bottom:0.3rem;
    font-size:1.75rem;
    /* font-weight: lighter; */
    font-weight: bold;
    color:darkslateblue;
}

.horz-card-content{
    color:darkslategray;
    font-size:0.95rem;
    line-height:1rem;
    margin-bottom:0.2rem;
}

.horz-cta{
    display: inline-block; 
    text-decoration:none;
    color:#333;
    padding:0.5rem 0.75rem;
    margin-top:0.2rem;
    border-radius:5rem;
    border:2px solid darkslateblue;
    transition:0.5s ease all;
}

.horz-cta:hover{
    box-shadow: 0 0 4px 1px darkslateblue;
    border:2px solid darkslateblue;
    background:darkslateblue;
    color:#fff;
}

.horz-social-group{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:1rem;
}
.social-links>*{
    padding:0.5rem 0;
    color:darkslategray;
    cursor: pointer;
    margin-top:0.2rem;
}

/* image container styles */
.slideUpContent{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.5rem;
    font-weight: lighter;
    animation:fadeIn 0.3s ease forwards;
    cursor: pointer;
    display:none;
}

/* media queries */
@media screen and (max-width:650px){
    .horz-card{
        flex-direction: column; 
        margin:2rem;
        border-radius:10px;
    }
    .horz-content-container{
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .horz-social-group{
        width:100%;
        display: flex;
        align-items:center;
        justify-content: center;
        text-align:center;
    }
    .social-links{
        display: flex;
        align-items:center;
        justify-content: space-around;
        padding:1rem 0;
    }
    .social-links>*{
        color:teal;
        padding:0 1rem !important;
        text-align: center !important;
    }
    .horz-social-group{
        width:100%;
        display:flex;
        align-items:center;
        justify-content: center;
    }
    .social-links{
        width:100%;
        display:flex;
        justify-content: flex-start;
        align-items:flex-start;
    }
    .social-links>*{
        padding:0;
        padding-right:0.5rem;
    }
}
/* keyframes */
@keyframes fadeIn{
    from {
        opacity:0;
    }
    to{
        opacity:1;
    }
}